.cart-widget {    
    height: 35px;
    width: 35px;
    cursor: pointer;
    width: 250px;
    min-width: 250px;
    z-index: 100;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    margin-bottom: 25px;
    .widget-container {
        position: relative;
        width:27px;
        height:27px;
        .cart-icon {
            position: absolute;            
            width: 100%;
        }        
    }
}
.badge-container {
    position: absolute;    
    width:20px; 
    height:20px; 
    font-size: 13px;
    top: -10px;
    right: -10px;
    background-color: darkseagreen;
    color:darkcyan;
    border-radius: 25%;
    display: flex;
    justify-content: center;
    align-items: center;       
}
@media (max-width: 500px) {
    .cart-widget {
        margin-bottom: 5px !important;
    }
}