.detail-card {
    padding: 120px 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    background: rgb(255, 255, 255);
    background: linear-gradient(0deg, rgba(255, 255, 255, 1) 0%, rgba(254, 247, 255, 1) 50%, rgba(253, 243, 255, 1) 75%, rgba(237, 237, 237, 1) 100%);

    .detail-card-body {
        width: 20em;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .detail-card-img {
            border-width: 5px;
            border-color: black;
            border-radius: 10px;

        }

        .detail-card-texto {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            .detail-card-titulo {
                text-transform: uppercase;
                text-align: center;
                font-weight: 700;
                font-size: 18px;
                padding: 0px 15px;
                padding-top: 10px;

            }

            .detail-card-categoria {
                text-transform: uppercase;
                text-align: center;
                font-weight: 400;
                font-size: 15px;
                padding: 5px;

            }

            .detail-card-descripcion {
                text-align: start;
                font-weight: 400;
                font-size: 15px;
                padding: 5px 10px;

            }

            .detail-card-descripcion {
                text-align: start;
                font-weight: 400;
                font-size: 15px;
                padding: 5px 10px;

            }

            .detail-card-precio {
                font-weight: 700;
                font-size: 15px;
                padding: 5px 10px;

            }
        }
    }
}