.card-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 0em 4em;
    padding-top: 120px;
    background: #ffffff;
    box-shadow: inset 14px 14px 58px #cccccc,
            inset -14px -14px 58px #ffffff;
    padding-bottom: 50px;
}